.cart_btn {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin-left: 1em;
  font-size: 1.7rem;
  border: none;
  color: #f08804;
  background: none;
  padding: 0.35em;
  cursor: pointer;
}

.cart_btn:hover {
  opacity: 0.8;
}

.cart_btn span {
  width: 20px;
  height: 20px;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f08804;
  color: black;
  font-size: 0.9rem;
  font-weight: 600;
  border-radius: 50%;
}

